//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black =                 #000 unless $black;
$grayDarker =            #222 unless $grayDarker;
$grayDark =              #333 unless $grayDark;
$gray =                  #555 unless $gray;
$grayLight =             #999 unless $grayLight;
$grayLighter =           #eee unless $grayLighter;
$white =                 #fff unless $white;


// Accent colors
// -------------------------
$blue =                  #049cdb unless $blue;
$blueDark =              #0064cd unless $blueDark;
$green =                 #46a546 unless $green;
$red =                   #9d261d unless $red;
$yellow =                #ffc40d unless $yellow;
$orange =                #f89406 unless $orange;
$pink =                  #c3325f unless $pink;
$purple =                #7a43b6 unless $purple;


// Scaffolding
// -------------------------
$bodyBackground =        $white unless $bodyBackground;
$textColor =             $grayDark unless $textColor;


// Links
// -------------------------
$linkColor =             #08c unless $linkColor;
$linkColorHover =        darken($linkColor, 15%) unless $linkColorHover;


// Typography
// -------------------------
$sansFontFamily =        "Helvetica Neue", Helvetica, Arial, sans-serif unless $sansFontFamily;
$serifFontFamily =       Georgia, "Times New Roman", Times, serif unless $serifFontFamily;
$monoFontFamily =        Monaco, Menlo, Consolas, "Courier New", monospace unless $monoFontFamily;

$baseFontSize =          14px unless $baseFontSize;
$baseFontFamily =        $sansFontFamily unless $baseFontFamily;
$baseLineHeight =        20px unless $baseLineHeight;
$altFontFamily =         $serifFontFamily unless $altFontFamily;

$headingsFontFamily =    inherit unless $headingsFontFamily; // empty to use BS default, $baseFontFamily
$headingsFontWeight =    bold unless $headingsFontWeight;    // instead of browser default, bold
$headingsColor =         inherit unless $headingsColor; // empty to use BS default, $textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge =         $baseFontSize * 1.25 unless $fontSizeLarge; // ~18px
$fontSizeSmall =         $baseFontSize * 0.85 unless $fontSizeSmall; // ~12px
$fontSizeMini =          $baseFontSize * 0.75 unless $fontSizeMini; // ~11px

$paddingLarge =          11px 19px unless $paddingLarge; // 44px
$paddingSmall =          2px 10px unless $paddingSmall;  // 26px
$paddingMini =           1px 6px unless $paddingMini;   // 24px

$baseBorderRadius =      4px unless $baseBorderRadius;
$borderRadiusLarge =     6px unless $borderRadiusLarge;
$borderRadiusSmall =     3px unless $borderRadiusSmall;


// Tables
// -------------------------
$tableBackground =                   transparent unless $tableBackground; // overall background-color
$tableBackgroundAccent =             #f9f9f9 unless $tableBackgroundAccent; // for striping
$tableBackgroundHover =              #f5f5f5 unless $tableBackgroundHover; // for hover
$tableBorder =                       #ddd unless $tableBorder; // table and cell border

// Buttons
// -------------------------
$btnBackground =                     $white unless $btnBackground;
$btnBackgroundHighlight =            darken($white, 10%) unless $btnBackgroundHighlight;
$btnBorder =                         #bbb unless $btnBorder;

$btnPrimaryBackground =              $linkColor unless $btnPrimaryBackground;
$btnPrimaryBackgroundHighlight =     spin($btnPrimaryBackground, 20%) unless $btnPrimaryBackgroundHighlight;

$btnInfoBackground =                 #5bc0de unless $btnInfoBackground;
$btnInfoBackgroundHighlight =        #2f96b4 unless $btnInfoBackgroundHighlight;

$btnSuccessBackground =              #62c462 unless $btnSuccessBackground;
$btnSuccessBackgroundHighlight =     #51a351 unless $btnSuccessBackgroundHighlight;

$btnWarningBackground =              lighten($orange, 15%) unless $btnWarningBackground;
$btnWarningBackgroundHighlight =     $orange unless $btnWarningBackgroundHighlight;

$btnDangerBackground =               #ee5f5b unless $btnDangerBackground;
$btnDangerBackgroundHighlight =      #bd362f unless $btnDangerBackgroundHighlight;

$btnInverseBackground =              #444 unless $btnInverseBackground;
$btnInverseBackgroundHighlight =     $grayDarker unless $btnInverseBackgroundHighlight;


// Forms
// -------------------------
$inputBackground =               $white unless $inputBackground;
$inputBorder =                   #ccc unless $inputBorder;
$inputBorderRadius =             $baseBorderRadius unless $inputBorderRadius;
$inputDisabledBackground =       $grayLighter unless $inputDisabledBackground;
$formActionsBackground =         #f5f5f5 unless $formActionsBackground;
$inputHeight =                   $baseLineHeight + 10px unless $inputHeight; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
$dropdownBackground =            $white unless $dropdownBackground;
$dropdownBorder =                rgba(0,0,0,.2) unless $dropdownBorder;
$dropdownDividerTop =            #e5e5e5 unless $dropdownDividerTop;
$dropdownDividerBottom =         $white unless $dropdownDividerBottom;

$dropdownLinkColor =             $grayDark unless $dropdownLinkColor;
$dropdownLinkColorHover =        $white unless $dropdownLinkColorHover;
$dropdownLinkColorActive =       $dropdownLinkColor unless $dropdownLinkColorActive;

$dropdownLinkBackgroundActive =  $linkColor unless $dropdownLinkBackgroundActive;
$dropdownLinkBackgroundHover =   $dropdownLinkBackgroundActive unless $dropdownLinkBackgroundHover;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these  :)
$zindexDropdown =          1000 unless $zindexDropdown;
$zindexPopover =           1010 unless $zindexPopover;
$zindexTooltip =           1030 unless $zindexTooltip;
$zindexFixedNavbar =       1030 unless $zindexFixedNavbar;
$zindexModalBackdrop =     1040 unless $zindexModalBackdrop;
$zindexModal =             1050 unless $zindexModal;


// Sprite icons path
// -------------------------
$iconSpritePath =          "../img/glyphicons-halflings.png" unless $iconSpritePath;
$iconWhiteSpritePath =     "../img/glyphicons-halflings-white.png" unless $iconWhiteSpritePath;


// Input placeholder text color
// -------------------------
$placeholderText =         $grayLight unless $placeholderText;


// Hr border color
// -------------------------
$hrBorder =                $grayLighter unless $hrBorder;


// Horizontal forms & lists
// -------------------------
$horizontalComponentOffset =       180px unless $horizontalComponentOffset;


// Wells
// -------------------------
$wellBackground =                  #f5f5f5 unless $wellBackground;


// Navbar
// -------------------------
$navbarCollapseWidth =             979px unless $navbarCollapseWidth;
$navbarCollapseDesktopWidth =      $navbarCollapseWidth + 1 unless $navbarCollapseDesktopWidth;

$navbarHeight =                    40px unless $navbarHeight;
$navbarBackgroundHighlight =       #ffffff unless $navbarBackgroundHighlight;
$navbarBackground =                darken($navbarBackgroundHighlight, 5%) unless $navbarBackground;
$navbarBorder =                    darken($navbarBackground, 12%) unless $navbarBorder;

$navbarText =                      #777 unless $navbarText;
$navbarLinkColor =                 #777 unless $navbarLinkColor;
$navbarLinkColorHover =            $grayDark unless $navbarLinkColorHover;
$navbarLinkColorActive =           $gray unless $navbarLinkColorActive;
$navbarLinkBackgroundHover =       transparent unless $navbarLinkBackgroundHover;
$navbarLinkBackgroundActive =      darken($navbarBackground, 5%) unless $navbarLinkBackgroundActive;

$navbarBrandColor =                $navbarLinkColor unless $navbarBrandColor;

// Inverted navbar
$navbarInverseBackground =                #111111 unless $navbarInverseBackground;
$navbarInverseBackgroundHighlight =       #222222 unless $navbarInverseBackgroundHighlight;
$navbarInverseBorder =                    #252525 unless $navbarInverseBorder;

$navbarInverseText =                      $grayLight unless $navbarInverseText;
$navbarInverseLinkColor =                 $grayLight unless $navbarInverseLinkColor;
$navbarInverseLinkColorHover =            $white unless $navbarInverseLinkColorHover;
$navbarInverseLinkColorActive =           $navbarInverseLinkColorHover unless $navbarInverseLinkColorActive;
$navbarInverseLinkBackgroundHover =       transparent unless $navbarInverseLinkBackgroundHover;
$navbarInverseLinkBackgroundActive =      $navbarInverseBackground unless $navbarInverseLinkBackgroundActive;

$navbarInverseSearchBackground =          lighten($navbarInverseBackground, 25%) unless $navbarInverseSearchBackground;
$navbarInverseSearchBackgroundFocus =     $white unless $navbarInverseSearchBackgroundFocus;
$navbarInverseSearchBorder =              $navbarInverseBackground unless $navbarInverseSearchBorder;
$navbarInverseSearchPlaceholderColor =    #ccc unless $navbarInverseSearchPlaceholderColor;

$navbarInverseBrandColor =                $navbarInverseLinkColor unless $navbarInverseBrandColor;


// Pagination
// -------------------------
$paginationBackground =                #fff unless $paginationBackground;
$paginationBorder =                    #ddd unless $paginationBorder;
$paginationActiveBackground =          #f5f5f5 unless $paginationActiveBackground;


// Hero unit
// -------------------------
$heroUnitBackground =              $grayLighter unless $heroUnitBackground;
$heroUnitHeadingColor =            inherit unless $heroUnitHeadingColor;
$heroUnitLeadColor =               inherit unless $heroUnitLeadColor;


// Form states and alerts
// -------------------------
$warningText =             #c09853 unless $warningText;
$warningBackground =       #fcf8e3 unless $warningBackground;
$warningBorder =           darken(spin($warningBackground, -10), 3%) unless $warningBorder;

$errorText =               #b94a48 unless $errorText;
$errorBackground =         #f2dede unless $errorBackground;
$errorBorder =             darken(spin($errorBackground, -10), 3%) unless $errorBorder;

$successText =             #468847 unless $successText;
$successBackground =       #dff0d8 unless $successBackground;
$successBorder =           darken(spin($successBackground, -10), 5%) unless $successBorder;

$infoText =                #3a87ad unless $infoText;
$infoBackground =          #d9edf7 unless $infoBackground;
$infoBorder =              darken(spin($infoBackground, -10), 7%) unless $infoBorder;


// Tooltips and popovers
// -------------------------
$tooltipColor =            #fff unless $tooltipColor;
$tooltipBackground =       #000 unless $tooltipBackground;
$tooltipArrowWidth =       5px unless $tooltipArrowWidth;
$tooltipArrowColor =       $tooltipBackground unless $tooltipArrowColor;

$popoverBackground =       #fff unless $popoverBackground;
$popoverArrowWidth =       10px unless $popoverArrowWidth;
$popoverArrowColor =       #fff unless $popoverArrowColor;
$popoverTitleBackground =  darken($popoverBackground, 3%) unless $popoverTitleBackground;

// Special enhancement for popovers
$popoverArrowOuterWidth =  $popoverArrowWidth + 1 unless $popoverArrowOuterWidth;
$popoverArrowOuterColor =  rgba(0,0,0,.25) unless $popoverArrowOuterColor;



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
$gridColumns =             12 unless $gridColumns;
$gridColumnWidth =         60px unless $gridColumnWidth;
$gridGutterWidth =         20px unless $gridGutterWidth;
$gridRowWidth =            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) unless $gridRowWidth;

// 1200px min
$gridColumnWidth1200 =     70px unless $gridColumnWidth1200;
$gridGutterWidth1200 =     30px unless $gridGutterWidth1200;
$gridRowWidth1200 =        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1)) unless $gridRowWidth1200;

// 768px-979px
$gridColumnWidth768 =      42px unless $gridColumnWidth768;
$gridGutterWidth768 =      20px unless $gridGutterWidth768;
$gridRowWidth768 =         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1)) unless $gridRowWidth768;


// Fluid grid
// -------------------------
$fluidGridColumnWidth =    ($gridColumnWidth/$gridRowWidth)*100 unless $fluidGridColumnWidth;
$fluidGridGutterWidth =    ($gridGutterWidth/$gridRowWidth)*100 unless $fluidGridGutterWidth;

// 1200px min
$fluidGridColumnWidth1200 =     ($gridColumnWidth1200/$gridRowWidth1200)*100 unless $fluidGridColumnWidth1200;
$fluidGridGutterWidth1200 =     ($gridGutterWidth1200/$gridRowWidth1200)*100 unless $fluidGridGutterWidth1200;

// 768px-979px
$fluidGridColumnWidth768 =      ($gridColumnWidth768/$gridRowWidth768)*100 unless $fluidGridColumnWidth768;
$fluidGridGutterWidth768 =      ($gridGutterWidth768/$gridRowWidth768)*100 unless $fluidGridGutterWidth768;
