// Mixins
// --------------------------------------------------
vendors ?= official

percentage($n)
  if $n == 0
    0
  else
    unit($n * 100, "%")

// Utilities

@import "./mixins/hide-text.styl"
@import "./mixins/opacity.styl"
@import "./mixins/image.styl"
@import "./mixins/labels.styl"
@import "./mixins/reset-filter.styl"
@import "./mixins/resize.styl"
@import "./mixins/responsive-visibility.styl"
@import "./mixins/size.styl"
@import "./mixins/tab-focus.styl"
@import "./mixins/reset-text.styl"
@import "./mixins/text-emphasis.styl"
@import "./mixins/text-overflow.styl"
@import "./mixins/vendor-prefixes.styl"

// Components
@import "./mixins/alerts.styl"
@import "./mixins/buttons.styl"
@import "./mixins/panels.styl"
@import "./mixins/pagination.styl"
@import "./mixins/list-group.styl"
@import "./mixins/nav-divider.styl"
@import "./mixins/forms.styl"
@import "./mixins/progress-bar.styl"
@import "./mixins/table-row.styl"

// Skins
@import "./mixins/background-variant.styl"
@import "./mixins/border-radius.styl"
@import "./mixins/gradients.styl"

// Layout
@import "./mixins/clearfix.styl"
@import "./mixins/center-block.styl"
@import "./mixins/nav-vertical-align.styl"
@import "./mixins/grid-framework.styl"
@import "./mixins/grid.styl"