// Text overflow
// Requires inline-block or block for proper styling
text-overflow()
  text-overflow arguments
  if arguments == ellipsis
    overflow hidden unless @overflow
    white-space nowrap unless @white-space
